<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Owners</title>
</head>
<body>
<h1 th:text="'List of Owners'">Owner List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${ownerList}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName}"></td>
        <td th:text="${vet.lastName}" ></td>
    </tr>
    </tbody>

</table>
</body>
</html>